@media (max-width: 83em){
    .hero{
        max-width: 115em;
    }

    .heading-primary{
        font-size: 4.4rem;
    }

    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

/*******************************/
/* BELOW 1200PX Tablet landscape view */
/*******************************/

@media (max-width: 75em){
    html{
        font-size: 56.25%;
    }

    .grid{
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }
    .heading-secondary{
        font-size: 3.6em;
    }

    .heading-tertiary{
        font-size: 2.4em;
    }

    .header{
        padding: 0 3.2rem;
    }

    .main-nav--list{
        gap: 3.2rem;
    }

    .hero{
        gap: 4.8rem;
    }

    .section-testimonials{
        grid-template-columns: 65fr 35fr;
    }

    .testimonials-container{
        padding: 8rem 3.2rem;
    }
}

/*******************************/
/* BELOW 900PX * Tablet Portrait view/ 
/*******************************/
@media (max-width: 60em){
    html{
        font-size: 50%;
    }

    .hero{
        grid-template-columns: 1fr;
        gap: 6.4rem;
        padding: 0 8rem;
    }
    .hero-img{
        width: 60%;
    }

    .hero-text-box, .hero-img-box{
        text-align: center;
    }

    .delivered-meals{
        justify-content: center;
        margin-top: 3.2rem;
    }

    .logos img{
        height: 2.4rem;
    }

    .step-number{
        font-size: 7.4rem;
    }

    .meal-features{
        padding: 2.4rem;
    }

    .feature-section{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 4.8rem;
    }

    .cta{
        grid-template-columns: 3fr 2fr;
    }
    .cta-form{
        grid-template-columns: 1fr;
    }

    .btn-mobile-nav{
        display: block;
        z-index: 999;
    }

    .main-nav{
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        backdrop-filter: blur(10px);
        background-color: rgb(203, 241, 209, 0.5);
        transform: translateX(100%);

        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-out;

        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .nav-open .main-nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0%);
        position: fixed;
    }

    .nav-open .icon-mobile-nav[name="close-outline"]{
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"]{
        display: none;
    }

    .main-nav--list{
        flex-direction: column;
        gap: 4.8rem;
    }

    .main-nav--link:link, .main-nav--link:visited{
        font-size: 3rem;
    }
}

/*******************************/
/* BELOW 720PX * Small Tablet view/ 
/*******************************/
@media(max-width: 46em){
    .grid-3--cols, .grid-4--cols{
        grid-template-columns: 1fr 1fr;
    }

    .diets{
        grid-column: 1/-1;
        justify-self: center;
    }

    .heading-secondary{
        margin-bottom: 4.8rem;
    }

    .pricing-plan{
        width: 100%;
    }

    .grid-footer{
        grid-template-columns: repeat(6, 1fr);
    }

    .address-col, .logo-col{
        grid-column: span 3;
    }

    .nav-col{
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem;
    }
    .hero-img{
        width: 80%;
    }
}

/*******************************/
/* BELOW 560PX * Phone view/ 
/*******************************/
@media (max-width: 36em){
    .grid{
        row-gap: 4.8rem;
    }

    .grid-2--cols, .grid-3--cols, .grid-4--cols{
        grid-template-columns: 1fr;
    }

    .icon-mobile-nav {
        height: 3.2rem;
        width: 3.2rem;
    }

    .section-hero{
        padding: 2.4rem 0 6.4rem 0;
    }
    .hero{
        padding: 0 3.2rem;
    }

    .section-testimonials{
        grid-template-columns: 1fr;
    }

    .gallery{
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
    }

    .btn, .btn:link, .btn:visited{
        padding: 1.2rem;
        font-size: 1.6rem;
    }

    .logos img{
        height: 1.2rem;
    }

    .step-img-box:nth-child(2){
        grid-row: 1;
    }
    .step-img-box:nth-child(6){
        grid-row: 5;
    }
    .step-img-box{
        transform: translateY(2.4rem);
    }

    .testimonials{
        grid-template-columns: 1fr;
    }

    .pricing-plan{
        width: 75%;
        justify-self: center;
    }

    .feature-section{
        grid-template-columns: 1fr;
    }

    .cta{
        grid-template-columns: 1fr;
    }
    .cta-text-box{
        padding: 3.2rem;
    }
    .cta-img-box{
        height: 36rem;
        grid-row: 1;
    }

    .meal{
        width: 75%;
        justify-self: center;
    }

    .section-hero, .section-how, .section-meals, .section-pricing, .section-cta, .footer{
        padding: 4.8rem 0;
    }

    .sticky .header{
        height: 7rem;
    }
    .sticky .section-hero{
        margin-top: 7rem;
    }
}